.bg-container {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  width: 100%;
  background-image: linear-gradient(to bottom right, #9796f0, #fbc7d4);
}
.card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 40px;
}
.list-items {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
}
